@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0px;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(60deg, rgb(34, 31, 31), rgb(89, 89, 240), violet );;
}
button{
    cursor: pointer;
}
.heading_content{
    position: relative;
    z-index: 999;
    background-color: rgba(233, 230, 236, 0.267);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.company_name{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    margin-left: 1rem;
    background: linear-gradient(to top, rgb(252, 251, 255), rgb(189, 189, 189));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}
.comp_logo{
    height: 2rem;
    width: 2rem;
    opacity: 1;
    
}
.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-right: 3rem;
    height: 4.5rem;
}
#F_name, #H_name{
    background: linear-gradient(to top, red, yellow);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
}
.service_div{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    
}
.service_name{
    font-size: large;
    color: white;
}
.empty_div{
    background-color: black;
    border: 1px soild black;
    width: full;
    height: 3px;
    display: none;
}
.service_div:hover{
    background-color: transparent;
    backdrop-filter: blur(80px);
    .empty_div{
        display: block;
    }
}
.subscribe_button, .second_subscribe_button{
    margin: 1rem 1rem 1rem 3rem;
    color: white;
    font-size: large;
    font-weight: bolder;
    border:  0px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 10px;
    gap: 0.7rem;
    cursor: pointer;
    background: linear-gradient(to top, red, yellow)
}
.subscribe_button:hover, .second_subscribe_button:hover{
    background: linear-gradient(to top, rgb(224, 75, 75), rgb(221, 221, 87))
}
.second_subscribe_button{
    display: none;
}
.menu_button{
    padding: 0.2rem;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    display: none;
    background: linear-gradient(to top, red, yellow);
    border: 0px solid white;
}
.menu_image{
    height: 30px;
    width: 30px;
}
.landing_section{
    background-color: white;
}
.landing_section_content{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.main_image{
    backdrop-filter: blur(20px);
    height: 500px;
    
}
.left_text_section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.left_text_heading{
    font-size: 2.5rem;
    background: linear-gradient(to top, red, yellow);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
}
.left_comp_name{
    background: linear-gradient(to top, rgb(40, 30, 83), rgb(10, 107, 163));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
                
}
.second_left_text_heading{
    color: rgb(40, 30, 83);
    font-size: 20px;
}
.social_section{
    display: flex;
    gap: 0.9rem;
}
.social_image{
    background: linear-gradient(to top, red, yellow);
    border-radius: 50%;
    padding: 0.2rem;
    border:3px solid  rgb(115, 104, 165);
    transition: all o.4s 0s;
}
.social_image:hover{
    transform: scale(1.2);
    border: 2px solid rgb(238, 238, 98);
    box-shadow: 0 0 25px rgb(65, 63, 63);
}
.footer_section{
    height: 3rem;
    color: white;
    font-weight: bold;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:1000px) {
    .menu_button{
        display: block;
    }
    .services{
        display: none;
    }
    .landing_section_content{
        flex-direction: column;
        gap: 5rem;
    }
    .main_image{
        margin-top: 3rem;
    }
    .left_text_section{
        text-align: center;
        gap: 0.8rem;
    }
    .second_subscribe_button{
        display: block;
    }
    .second_left_text_heading{
        display: none;

    }
    .social_section{
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .social_image{
        height: 15px;
        border: 1px solid rgb(115, 104, 165);
    }
}
